/* ==========================
    SASS VARIABLES 
========================== */
$main-color:#020024;
$font-color:#fff;
$font-color2:#eee;
$grey-color:#555;
$background: rgba(255, 255, 255, .2);
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
$box-shadow2: 0 0 0 1rem rgba(255, 255, 255, .2);
$background-hover: rgba(255, 255, 255, .5);
$background-light: rgba(255, 255, 255, .1);